.article{
    grid-area: element3;
    background-color: rgb(255, 251, 251);
    column-gap: 10px;
    
    
}
.ciberSegurity{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.ciberSegurity__title{
    align-self: center;
    font-size: 4em;
    font-family: 'Inconsolata', monospace;
    font-family: 'Roboto Mono', monospace;
    gap: 10px;
}

.ciberSegurity__p{
    font-family: sans-serif;
    font-size: 18px;
    justify-content: center;

}

.ciberSegurity__img{
    object-fit: contain;
    width:70%;
    height:50%;
    margin: auto;
    border-radius: 100px;
}