/*HEADER STYLES*/
.header{
    grid-area: element1;
    position: sticky;
    top: 0;
}
.header__logo{
    object-fit: contain;
    width:100%;
    height:100%;
    background-color: white;

}

/*Hacer diseño responsivo para pantalla grande (1024), tablet (768) y celular (480)*/

@media screen and (max-width: 1024px){
.header{
        padding: 50px 0;
    }
.header__logo{
        width: 100%;
        height: 100%;
    }
}

/*Hacer diseño responsivo para celular*/

@media screen and (max-width: 768px){
.header{
        padding: 50px 0;
    }
.header__logo{
        width: 100%;
        height: 100%;
    }
}


/*Hacer diseño responsivo para tablet*/

@media screen and (max-width: 480px){
.header{
        padding: 50px 0;
    }
.header__logo{
        width: 100%;
        height: 100%;
    }
}

