/*WEB DE INSPIRACIÓN*/
/*https://www.lastpass.com/es*/
*{
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 90%;
    height: 600px;
  
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
 /*   background:#edeef0; background: url(/-/media/14d553c2e7534d398dac908df063764a.svg)top /contain no-repeat, linear-gradient(to right, #edeef0 0%, #edeef0 100%);*/
    /*grid-auto-rows: 100px;*/
    grid-template-areas: 
    "element1 element2 element2 element2 element2"
    "element3 element3 element3 element3 element3"
    "element4 element4 element4 element4 element4"
    ;
}


